.Login{
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 80vh;
    background-color: rgba(208, 208, 208, 0.31);
    border-radius: 30px;
  }
  /*
  .login-img {
    display: block;
    width: 387px;
    height: 387px;
  }
    */
  
  .login-form {
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40%;
    box-sizing: border-box;
  }
  
  .login-form label {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: left;
  }
  
  .login-input {
    height: 40px;
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }
  
  .login-button-confirm {
    border: none;
    border-radius: 10px;
    background-color: #28AD56;
    height: 48px;
    color: white;
    font-size: 24px;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  
  .login-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .login-buttons button {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
  }
  

  .error{
    color: red;
    text-align: center;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    transform: translateY(-40px);
  }

