.home-T{
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding-top: 80px;
}

.main-contnent-home-tutorado{
  padding-top: 80px;
}

.home-tutorado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}


.calendario-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: fit-content;
  margin: auto;
}

.calendario-dia {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 150px;
  height: 140px;
  color: black;
  font-weight: 400;
  font-size: 18px;
  padding: 5px;
}

.verde {
  background-color: rgba(40, 173, 86, .7); /* Verde */
}

.azul {
  background-color: rgba(0, 84, 159, .7); /* Azul */
}

.tutoria {
  background-color: #ffc107;
  color: #000;
  font-weight: bold;
}

.calendario-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendario-dia {
  background-color: #f0f0f0;
  border-radius: 6px;
  padding: 6px;
  text-align: center;
  font-size: 12px;
  min-height: 60px;
  position: relative;
}

.calendario-dia.verde {
  background-color: #d0f0d0;
}

.calendario-dia.azul {
  background-color: #d0e0f7;
}

.calendario-dia.tutoria {
  background-color: #fff8dc;
  border: 2px solid #f5b041;
}

.calendario-dia.tutoria:hover {
  background-color: #88ec88;
  cursor: pointer;
  border: 2px solid #fff8dc ;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.link{
  text-decoration: none;
  color: inherit;
}



.tutoria-info {
  margin-top: 4px;
  font-size: 10px;
  color: #333;
  padding: 2px 4px;
  text-decoration: none;
  font-Style: none;
  
}




.calendario-container {
  text-align: center;
  margin-bottom: 20px;
}

.calendario-header {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
