.info-tutoria-container{
    
    font-family: "Montserrat", sans-serif;
}

.main-content-info-tutoria{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding-top: 80px
}

.info-tutoria-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}



.info-tutoria-label{
    font-size: 24px;
}

.info-tutoria-input{
    font-size: 24px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 5px 0 5px 10%;
    border:none;  
    border-radius: 12px;
    color: #28AD56;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.info-tutoria-input:focus{
    outline: none;
    background-color: rgba(0, 0, 0, 0.06);
}

.info-tutoria-buttons{
    font-size: 28px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;   
}

.info-tutoria-input-horas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.info-tutoria-input-horas input{
    width: 30%;

}