.home{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 80px;
}
.tutorias-box{
  margin-top: 3rem;
  width: 90%;
  background-color: rgba(213, 213, 213, 0.26);
  border-radius: 10px;
  padding: 30px 10px;
  box-sizing: border-box;
  height: 100%;
}


.contenedorTarjetasTotorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  box-sizing: border-box;
}

.tutoria-title{
  width: 95%;
  margin: auto;
  font-size: 40px;
}



.card {
  max-width: 450px;
  border-radius: 15px;
  overflow: hidden;
  background-color: transparent;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px 40px;
}

.card-item{
  width: 40%;
  margin-top: 5px;
}

.card-item-title{
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: rgba(0, 0, 0, .3);
  font-weight: 400;
}

.card-item-text-important{
  padding: 0;
  margin: 0;
  color: rgba(40, 173, 86, 1);
  font-weight: 700;
  font-size: 18px;
}

.card-item-text{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
}


.card-btn {
  padding: 0.5rem 1rem;
  background-color: #2d5fa7;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.card-btn:hover {
  background-color: #1c3d6e;
}

.link{
  text-decoration: none;
  color: inherit;
}