.btn-aceptar,
.btn-cancelar {
  background-color: #4CAF50; /* verde por defecto, se sobrescribe abajo */
  border: none;
  color: white;
  padding: 0.8rem 2rem;
  font-size: 24px;
  cursor: pointer;
  border-radius: 12px;
  max-width: 100%;
  width: auto;
  min-width: 150px;
  height: auto;
  white-space: nowrap;
  transition: background-color 0.2s ease;
}

/* Colores separados */
.btn-cancelar {
  background-color: #AD2828;
}

/* Hover opcional */
.btn-aceptar:hover {
  background-color: #3e8e41;
}

.btn-cancelar:hover {
  background-color: #922020;
}
