   @media (max-width: 319px) {
    .registro-content {
      display: none;
    }
  }

  .registro-img{
    width: 100%;
    max-width: 300px; 
    height: auto;
    margin-bottom: 1rem; 
  }

  .registro-content {
    max-width: 708px;
    width: 80%; 

    height: 80vh;         
    max-height: 885px;    
    min-height: 400px;    
    background-color: rgba(208, 208, 208, 0.31);
    border-radius: 30px;
    overflow-y: auto;  
  }